*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(0, 0, 0); 
}

header{
    text-align: center;
    
}
header h1{
    color: #ffffff;
    text-align: center;
    
}
nav{
    background-color: rgb(20, 20, 20);
    padding: 20px;
    margin-bottom: 15px;
}
    
nav a{
    color: #e9e9e9;
    text-decoration:none;
    padding: 0 10px;
    font-size: 19px;
}

nav a:hover{
    text-decoration: underline;
}


header form{
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: left;
}



.cuadrito p
{
    color: #ffffff;
    text-align: center;
}

.cuadrito h2
{
    color: #ffffff;
    text-align: center;
}



.cuadrito img
{
    height: 25px;
    padding: 0 5px;
}